/* Navigation bar container styles */
.navig {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: rgb(104, 82, 245);
    padding: 0.5rem 0;
}

/* Hamburger button styles */
.hamburger {
    display: none;
    font-size: 18px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 0.5rem 1rem;
}

/* Unordered list styles */
.navLinks {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: max-height 0.4s ease-out; /* Smooth transition effect */
}

/* List item styles */
.navItem {
    display: inline-block;
    font-size: 20px;
    padding: 0 2vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Anchor link styles */
.navLink {
    text-decoration: none;
    font-size: 20px;
    color: rgb(0, 0, 83);
    transition: color 0.3s ease;
}

/* Hover effect for links */
.navLink:hover {
    color: rgb(12, 97, 149);
}

/* Prevent body scrolling when menu is open */
.no-scroll {
    overflow: hidden;
}

@media (max-width: 768px) {
    .navig {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        overflow-x: hidden;
    }

    .hamburger {
        display: block;
    }

    .navLinks {
        max-height: 0;
        display: block;
        overflow: hidden;
        transition: max-height 0.3s ease-out; /* Smooth transition */
    }   

    .navItem {
        display: block;
        padding: 0.2rem;
    }

    .open {
        max-height: 500px; /* Set to a value greater than the content's height */
    }
}

@media (max-width: 425px) {
    
    .navig {
        width: 99.5vw;
        overflow-x: hidden;
    }
    
}
