.sm_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pic {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: contain;
  cursor: pointer;
  transition: all 0.3s ease;
}

.pic:hover {
  transform: translateY(-4px) scale(1.1);
}

@media (max-width: 768px) {
  .pic {
    width: 2rem;
    height: 2rem;
  }
}
