body {
  margin: 0;
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.about_main {

  width: 99vw;
  display: flex;
  background-color: rgb(48, 48, 48);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {

  display: block;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

div.navig {

  display: block;
  width: 99vw;
  border: 1px solid black;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: rgb(0, 255, 255);
}

div.navig ul {

  text-align: center;
}




div.navig ul li{

  display: inline;
  font-size: 20px;
  padding: 8vw;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

div.navig ul li a {

  text-decoration: none;
  font-size: 20px;
  color: navy;
}

div.navig ul li a:hover {

  text-decoration: none;
  color: rgb(12, 97, 149);
}

div.main-container {

  width: 92%;
  background-color:rgb(240, 251, 252);
  text-align: left;
  margin: 2.5%;
  height: auto;
  box-shadow:  0px 5px 5px 0px;
  overflow: auto;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border:1px solid black;
  padding-left: 2vw;
}

div.main-container h2 {

  text-align: center;
}

#scrl1 {

  width: 99vw;
  
}

div.content_container {

  width: 60%;
  text-align: justify;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  padding-left: 3%;
}

div.content_container_proj {

  width: 45%;
  text-align: justify;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  padding-left: 3%;
  margin-right: 2%;
}

div.image-container {

  width: 47%;
  display: flex;
  justify-content: center;
  padding: 2% 0%;
}

.twi_1 {

  position: relative;
  top: 20%;
  left: 50%;
  transform: translate(-12%, -238%);
  color: rgb(231, 255, 236);
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  font-size: 8vw;
  margin-bottom: -9%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.twi_2 {

  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-10%, -280%);
  color: rgb(231, 255, 236);
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  font-size: 8vw;
  margin-bottom: -9%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div.image-container_proj {

  width: 60%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin: 2%;

}

div.image-container img {

  width: 25vw;
}

div.image-container_proj img:hover {

  transform: scale(1.1);
  transition: 0.7s ease-in-out;
}

div.image-container_proj img {

  height: auto;
  width: 50vw;
  padding: 2% 0;
}




@media (max-width: 1024px) {

  div.main-container {

    flex-direction: column;
  }

  div.image-container img {

    width: 45vw;
  }

  div.content_container {

    width: 90%;
  }

  div.image-container_proj {

    width: 100%;
  }

  div.image-container_proj img{

    width: 80vw;
    height: auto;
    padding-bottom: 2vw;
  }


  div.content_container_proj {

    width: 82%;
  }

}